.picture-container-contactus {
    width: 100%;
}

.picture-container-contactus img {
    width: 100%;
    height: 80%;
}

.get-in-us-contactus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-container-contact-us {
    display: flex;
    flex-direction: column;
    height: 40rem;
    padding: 120px;
    gap: 3rem;
}

.firs-last-name-contact,
.email-phone-number-contact {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    justify-content: flex-start;
}

.one-input,
.choose-contact {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.input-cooo {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.all-input-contactus {
    padding: 0.7rem;
    border: 1.333px solid #007E85;
    border-radius: 8px;
}

.one-checkbox {
    border: none;
    border-radius: 7px;
}

.submit-button-contact {
    border: none;
    padding: 1rem;
    width: 17rem;
    background-color: #007E85;
    color: white;
    font-size: 1rem; /* changed to relative unit */
    border-radius: 8px;
    cursor: pointer;
}