#landing-page {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  padding: 20px;
}
.hahaha{height: 410px;}
h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.choice-container {
  width: 100%;
  margin-bottom: 20px;
}

.choices {
  list-style: none;
  padding: 0;
  margin: 0;
}

.choice-item {
  display: inline-block;
  padding: 10px 20px;
  margin: 5px;
  border: 1px solid #ccc;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.choice-item:hover {
  background-color: #f5f5f5;
}

#content-container {
  width: 100%;
}
