/* profile.css */
*{
    color: black;
}
  
  .userInfo {
    background-color: white;

    margin: 50px auto;
    
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .userInfo img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
  }
  
  .userInfo .userName {
    font-size: 24px;
    color: #333;
    margin: 0 0 10px;
  }
  
  .userInfo .userAddress {
    font-size: 16px;
    color: #777;
    margin: 0;
  }
  
  .header, .footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
  }
  
